$utilities: map-merge(
  $utilities,
  (
  "border-top": (
    property: border-top,
    responsive: true,
    values: (
      null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ),
  ),
  "border-bottom": (
    property: border-bottom,
    responsive: true,
    values: (
      null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ),
  ),
  "border-start": (
    property: border-left,
    class: border-start,
    responsive: true,
    values: (
      null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ),
  ),
  "border-end": (
    property: border-right,
    class: border-end,
    responsive: true,
    values: (
      null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    ),
  ),

  "bg-size": (
    property: background-size,
    class: 'bg',
    responsive: true,
    values: (
      contain: contain,
      cover: cover,
      auto: auto,
      100-auto: 100% auto,
      auto-100: auto 100%,
      10: 10%,
      20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      80: 80%,
      90: 90%,
      100: 100%,
    ),
  ),
  "bg-position": (
    property: background-position,
    class: 'bg',
    values: (center: center,
      left: left,
      right: right,
      top: top,
      bottom: bottom,
      bottom-left: bottom left,
      bottom-right: bottom right,
      top-left: top left,
      top-right: top right,
    ),
  ),
  "bg-attachment": (
    property: background-attachment,
    class: 'bg',
    values: (fixed: fixed,
      scroll: scroll,
      unset: unset,
    ),
  ),
  "height": (
    property: height,
    class: h,
    values: (
      0: 0,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "width": (
    property: width,
    class: w,
    responsive: true,
    values: (
      0: 0,
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      33: 33.33333%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      66: 66.66666%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
      auto: auto
    ),
  ),
  "max-width": (
    property: max-width,
    class: max-w,
    responsive: true,
    values: (
      0: 0,
      5: 5%,
      10: 10%,
      15: 15%,
      20: 20%,
      25: 25%,
      30: 30%,
      33: 33.33333%,
      40: 40%,
      45: 45%,
      50: 50%,
      55: 55%,
      60: 60%,
      65: 65%,
      66: 66.66666%,
      70: 70%,
      75: 75%,
      80: 80%,
      85: 85%,
      90: 90%,
      95: 95%,
      100: 100%,
      auto: auto
    ),
  ),
  "min-vh": (
    property: min-height,
    class: min-vh,
    responsive: true,
    values: (
      0: 0,
      5: 5vh,
      10: 10vh,
      15: 15vh,
      20: 20vh,
      25: 25vh,
      30: 30vh,
      33: 33.33333vh,
      40: 40vh,
      45: 45vh,
      50: 50vh,
      55: 55vh,
      60: 60vh,
      65: 65vh,
      66: 66.66666vh,
      70: 70vh,
      75: 75vh,
      80: 80vh,
      85: 85vh,
      90: 90vh,
      95: 95vh,
      100: 100vh,
      auto: auto
    ),
  ),
  "opacity": (
    property: opacity,
    class: opacity,
    values: (
      0:  0,
      10: 10%,
      20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      80: 80%,
      90: 90%,
      100: 100%
    ),
  ),

  "object-position": (
    responsive: true,
    property: object-position,
    values: (
      top: top,
      bottom: bottom,
      center: center,
      left: left,
      right: right
    ),
  ),

  "font-size": (
    rfs: true,
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes
  ),
  "rotate": (
    property: transform,
    class: rotate,
    responsive: true,
    values: (
      cw-1:  rotate(3deg),
      cw-2:  rotate(6deg),
      cw-3:  rotate(12deg),
      ccw-1:  rotate(-3deg),
      ccw-2:  rotate(-6deg),
      ccw-3:  rotate(-12deg)
    ),
  ),
  )
);

